.App {
  /* text-align: center; */
}

.Top-title {
  background-color: orange;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title-text {
  background-color: yellow;
}

.Input-container {
  background-color: paleturquoise;
  height: 40px;
  /* display: flex;
  flex-direction: row; */
}

.Input-field {
  /* flex-direction: column; */
  /* flex: 1; */

  display: flex;
  -webkit-flex: 1;
  flex: 1;
  margin-left: 20px;
  font-size: 16px;
}

.Add-button {
  margin-left: 10px;
  width: 100px;
  height: 40px;
}

.List-view {
  background-color: green;
}

.My-div-container {
  background-color: orange; 
  width: 800px;
  height: 100px;
}

.My-left-element {
  position: relative;  
  background-color: yellow;
  width: 170px;
  height: 30px;
}

.My-right-element {
  position: relative;
  background-color: yellowgreen;
  width: 170px;
  height: 50px;
}


/*---------- Custom input placeholder ----------*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: gray;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: gray;
}
/*---------- Custom input placeholder ----------*/