.App {
  /* text-align: center; */
}

.Top-title {
  background-color: orange;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title-text {
  background-color: yellow;
}

.Input-container {
  display: flex;  
  height: 60px;
  background-color: paleturquoise;
  align-items: center;
}

.Input-field {
  /* flex: 1; */
  flex-grow: 1;
  margin-left: 20px;
  height: 30px;
  font-size: 16px;
}

.Add-button {
  margin-left: 10px;
  margin-right: 20px;
  width: 100px;
  height: 30px;
}

.List-view {
  padding: 0;
  list-style-type: none; 
  background-color: green;
  max-height: 300px;
  overflow: scroll;
}

.List-item {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: lightgray;
}

.List-item-title {
  flex: 1;
  margin-left: 20px;
  background-color: lightgreen;
}

.List-item-button {
  margin-left: 10px;
  margin-right: 20px;
  width: 80px;
  background-color: lightpink;
}


.My-div-container {
  background-color: orange; 
  width: 800px;
  height: 100px;
}

.My-left-element {
  position: relative;  
  background-color: yellow;
  width: 170px;
  height: 30px;
}

.My-right-element {
  position: relative;
  background-color: yellowgreen;
  width: 170px;
  height: 50px;
}


/*---------- Custom input placeholder ----------*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: gray;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: gray;
}
/*---------- Custom input placeholder ----------*/